.papak-logo, .links {
    text-align: center;
    margin-top: 25px;
}

.col-md-1 .col-sm-2 .col-xs-6 .col-centered {
    float: none;
    margin: 0 auto;
}

@media (min-width: 1px) {
    .location_link {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media (min-width: 359px) {
    .location_link {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media (min-width: 469px) {
    .location_link {
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 762px) {
    .location_link {
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .location_link {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.location_link_style {
    color: #800000;
}

.red_bar {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.red_bar span {
    display: inline-block;
    position: relative;
    color: #800000;
}

.red_bar span:before,
.red_bar span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #800000;
    border-top: 1px solid #800000;
    top: 12px;
    width: 400px;
}

.red_bar span:before {
    right: 100%;
    margin-right: 15px;
}

.red_bar span:after {
    left: 100%;
    margin-left: 15px;
}